#main-container {
    height: 100%;
    width: 100%;
}

#panels {
    height: 1fr;
}

.panel {
    height: 100%;
    border: round $primary;
    background: $panel;
    padding: 1 2;
    margin: 1;
    overflow-y: auto;
}

#dates {
    width: 3fr;
}

#ssh_settings {
    width: 2fr;
}

.hint_text {
    color: $text-muted;
    margin-bottom: 1;
    width: 1fr;
}

.field_row {
    height: auto;
    margin-bottom: 1;
    align: left middle;
}

.field_label {
    width: 32;
    height: 100%;
    content-align: right middle;
    padding-right: 1;
    color: $text-muted;
}

.field_value {
    width: 1fr;
    height: auto;
}

.datetime_input {
    width: 1fr;
}

#path_fields {
    height: auto;
    max-height: 6;
    border: round $primary;
    margin-bottom: 1;
}

#ssh_inputs_container {
    border: round $accent;
    display: none;
    padding: 1 2;
    margin-top: 1;
}

#action_bar {
    height: auto;
    align: center middle;
    padding: 1 2;
    background: $panel;
    border-top: heavy $primary;
}

#copy_btn {
    width: 30;
}

#loading_indicator {
    width: 1fr;
    display: none;
}
